<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>SkierServlet</servlet-name>
    <servlet-class>SkierServlet</servlet-class>
  </servlet>
  <listener>
    <listener-class>MyContextListener</listener-class>
  </listener>
  <servlet-mapping>
    <servlet-name>SkierServlet</servlet-name>
    <url-pattern>/skiers/*</url-pattern>
  </servlet-mapping>

</web-app>
